.DS_Store
.idea/
.vscode/

backend/bre_new
backend/*.log
backend/*.db
backend/test.log
backend/server.log
backend/bre_new
backend/build_push.sh
backend/config.yaml

frontend/node_modules/
frontend/dist/
frontend/release/
frontend/*.local
frontend/package.sh
frontend/.vscode/
