mysql:
  host: "127.0.0.1"
  port: 3306
  user: "root"
  password: "b9pjL1yT"
  database: "news"

ai:
  api_key: "xxxxxxx-f7c8-4021-8006-xxxxxxx"
  default_model: "doubao-seed-1-8-251228"
  
system:
  port: "4001"